body {
  background-image: url("https://evhogan.github.io/assessment1/images/back-ground.jpeg");
  background-color: #DDDDDD;
}

div{
   padding: 30px; 
   margin:5px; 
   text-align: center;
}


img {
   width: 120px; 
   margin-bottom: 15px; 
   display: block;
   margin-left: auto;
   margin-right: auto;
}

h1 {
	text-align: center;
	text-transform: uppercase;
}

#mystuff {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 1fr 1fr;
}


@media all and (min-width: 800px){ 

	#mystuff {
		display: grid;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-columns: 1fr 1fr 1fr;
	}

	div:nth-child(even) {
  		border: 2px solid black;
	}